body {
    margin:0;
    background-color: #6B6666;
    display: flex;
    justify-content: center;
}

.flex{
    width: 35%;
    height: 100vh;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;

}

.flex0{
    width: 90%;
    height: 90vh;
    background-color: white;
    padding-top: 50px;
    border: 5px solid darkgray;
    display:flex;
    align-items: start;
    justify-content: center;
}


img{
    width: 60%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-top: 50px;
}


.flex_1_1{
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: yellowgreen;

}


input[type="text"]{
    width: 200px;
    height: 50px;
    background-color: #FAF9F7;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 3px;
    color: grey;
    text-overflow: ellipsis;
}


input[type="text"]::placeholder{
    color: grey;
}

input[type="text"]:focus{
    outline: none;
    border: 2px solid #916c6a;
}