
*{
    margin: 0px;
    font-size: 20px;
}

.top{
    width: 50vw;
    height: 5vh;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.top1{
    width: 10vw;
    height: 100%;
    background-color: green;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.top_p{
    color:white;
    font-size: 1rem;
}

.banner{
    width: 100vw;
    height: 40vh;
    background-color: green;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    align-items:flex-start;
    justify-content: end;

}

.banner_p{
    color:white;
    font-size: 1.5rem;
    margin-right: 20px;
    margin-top: 20px;
}

.article{
    width: 100vw;
    height: 40vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article1{
    width: 49vw;
    height: 48%;
    background-color: green;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow-wrap: normal;
    display: flex;
    align-items:flex-start;
    justify-content: end;


}

.article_p{
    color:white;
    font-size: 1.5rem;
    margin-right: 20px;
    margin-top: 20px;
}

.footer{
    width: 100vw;
    height: 8vh;
    margin-bottom: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: green;
    border-radius: 10px;


}

.footer1{
    color:white;
    font-size: 1rem;
    margin-right: 20px;
    margin-top: 5px;

}