
*{margin: 0}

header{
    height: 50vh;
    background-color: black;
    color: white;
    font-size: 60px;
    align-content: center ;
    text-align: center;
    justify-content: space-around;



}
footer {
    height: 50vh;
    background-color: hotpink;
    color: black;
    font-size: 60px;
    align-content: center;
    text-align: center;
    justify-content: space-around;
}